---
layout: site.liquid
rootHead: >-
    <style>
        body {
            display: grid;
            grid-template-rows: max-content auto max-content;
            min-height: 100vh;
        }

        layout-content {
            display: block;
            margin-inline: auto;
            max-width: 70ch;
            padding: 1rem;
            width: 100%;
        }

        .postscript {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            margin-block-start: 4rem;
        }
        .postscript bible-verse {
            justify-self: end;
        }

        h1 {
            font-size: var(--step-4);
            line-height: 90%;
            margin-block: 0;
            margin-inline: auto;
        }

        h1:not(:last-child) {
            margin-block-end: 0.5rem;
        }

        h1 + p {
            margin-block-start: 0;
        }
        
        .attribution {
            display: grid;
            gap: 1rem;
            grid-template-columns: 4rem 1fr;

            img {
                border: var(--stroke-width) solid currentColor;
            }

            p {
                margin: 0;
            }
        }
    </style>
rootFoot: >-
    <script type="module" src="/js/keyboard-shortcuts.js"></script>
---
<main>
  {{ category }}
  <layout-content style="padding-block: 4rem 2rem;">
    {%- if flags contains "EVERGREEN" -%}{%- else -%}
      <time datetime="{{ date }}">{{ date | readable_date }}</time>
    {%- endif -%}
    <h1>{{ title }}</h1>
    {%- if tagline -%}
      <p style="color: var(--faint-text);">{{ tagline }}</p>
    {%- endif -%}
  </layout-content>
  <layout-content id="content" class="{%- if prose -%}prose{%- endif -%}" style="padding-block-end: 8rem;">
    {% if flags contains 'RSS-ONLY' -%}
      <call-out type="info">
        This is a special article for <strong>the RSS Club</strong>, but feel free to save or share this link. You can
        join by subscribing to <a href="/rss.xml">my RSS feed</a>.
      </call-out>
    {%- endif %}

    {{ content }}

    {% if leaf -%}
      <div class="postscript">
        <a href="mailto:sean@seanmcp.com?subject=RE: {{ title }}" id="comment-link">Reply by email</a>
        <bible-verse>{{ verse | default: 'Romans 5:8' }}</bible-verse>
        {% assign url_chunks = page.url | split: '/' %}
        {% assign category = tags[0] %}
        <span
          >Category <a href="/{{category | slug}}">{{ category }}</a></span
        >
      </div>
      <hr>
      <div class="attribution">
        <img src="/img/seanmcp_thumbnail.png" alt="Photo of Sean McPherson">
        <p>
          <strong>Sean McPherson</strong> works as a software engineer at Khan Academy, and enjoys playing games and
          watching soccer. He lives with family in Pittsburgh, PA.
        </p>
      </div>
    {%- endif %}
  </layout-content>
</main>
