---
layout: base.liquid
foot: >-
---
<header>
    <a href="/">seanmcp.com</a>
</header>
<main>
    <ui-content style="padding-block: 3rem;">
        <h1>{{ title }}</h1>
        {%- if date -%}
            <time datetime="{{ date }}">{{ date | readable_date }}</time>
        {%- endif -%}
        {%- if tagline -%}
            <p style="color: var(--faint-text);">{{ tagline }}</p>
        {%- endif -%}
    </ui-content>
    <ui-content style="padding-block-end: 8rem;">
        <content class="{%- if prose -%}prose{%- endif -%}">
            {{ content }}
        </content>
        {%- if verse -%}<bible-verse>{{verse}}</bible-verse>{%- endif -%}
    </ui-content>
</main>
<footer>
    Since 2018 (SDG)
</footer>

<style>
    html {
        background-color: var(--bg-color);
    }
    body {
        display: grid;
        grid-template-rows: max-content auto max-content;
        min-height: 100vh;
    }

    header, footer {
        background-image: var(--pattern-diagonal-background-image);
        padding: 1rem;
        text-align: center;
    }

    ui-content {
        display: block;
        margin-inline: auto;
        max-width: 70ch;
        padding: 1rem;
        width: 100%;
    }

    ui-content > *:first-child {
        margin-block-start: 0;
        padding-block-start: 0;
    }

    ui-content > *:last-child {
        margin-block-end: 0;
        padding-block-end: 0;
    }

    content {
        font-family: var(--serif);
        line-height: 1.2;
    }

    h1 {
        font-size: var(--step-4);
        margin-block: 0;
        margin-inline: auto;
    }

    h1 + p {
        margin-block-start: 0;
    }

    content img {
        display: block;
        margin-inline: auto;
        max-width: 100%;
    }

    time {
        display: block;
        font-size: var(--step--1);
        letter-spacing: 0.1ch;
        text-transform: uppercase;
    }

    footer {
        color: var(--text-color-2);
        font-size: var(--step--1);
    }
</style>
<script type="module" src="/js/keyboard-shortcuts.js"></script>
