---
import { getArticles } from "src/utils";
import ArticleSeries from "@components/ArticleSeries.astro";
import ContentFooter from "@components/ContentFooter.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ReadableTime from "@components/ReadableTime.astro";

export async function getStaticPaths() {
  const articles = await getArticles();
  return articles.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { data } = entry;
const verse = data.verse ?? "Romans 5:8";
---

<PageLayout {...data} withoutH1>
  <article class="article | stack()">
    <ReadableTime
      date={data.pubDate}
      style="color: var(--lighter-text-color)"
    />
    <h1>{data.title}</h1>
    <ArticleSeries series={data.series} />
    {
      data.tags?.includes("Garden") && (
        <call-out type="wave">
          Evergreen articles like this have moved:{" "}
          <a href="/gardens">view my gardens section</a> 🌱
        </call-out>
      )
    }
    {
      data.flags?.includes("RSS-ONLY") && (
        <call-out type="info">
          This is a special article for <strong>the RSS Club</strong>, but feel
          free to save or share this link. You can join by subscribing to{" "}
          <a href="/rss.xml">my RSS feed</a>.
        </call-out>
      )
    }
    <Content />
    <hr />
    <ContentFooter title={data.title} verse={verse} />
  </article>
  {
    data.scripts?.map((filename) => (
      <script src={`/js/${filename}`} type="module" />
    ))
  }
</PageLayout>

<style>
  h1 {
    margin-block-start: var(--space-xs) !important;
    margin-block-end: var(--space-l) !important;
  }

  :global(.article li + li) {
    margin-block-start: 0.5em;
  }

  :global(.article img) {
    max-width: 100%;
  }

  :global(.footnotes h2) {
    margin-block-start: 1em;
  }

  /* CodePen embeds */
  :global(.cp_embed_wrapper) {
    margin: 2rem -1rem;
  }

  :global(.cp_embed_wrapper iframe) {
    height: min(50vh, 500px);
  }
</style>
