---
import { getArticles } from "src/utils";
import ArticleSeries from "@components/ArticleSeries.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ReadableTime from "@components/ReadableTime.astro";

export async function getStaticPaths() {
  const articles = await getArticles();
  return articles.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { data } = entry;
const verse = data.verse ?? "Romans 5:8";
---

<PageLayout {...data} withoutH1>
  <article class="article | stack()">
    <h1>{data.title}</h1>
    <p class="byline | line()">
      By Sean McPherson<span class="divider()"></span>{
        data.tags?.includes("garden") ? (
          "Garden"
        ) : (
          <ReadableTime date={data.pubDate} />
        )
      }
    </p>
    <ArticleSeries series={data.series} />
    {
      data.tags?.includes("Garden") && (
        <section class="attn">
          Evergreen articles like this have moved:{" "}
          <a href="/gardens">view my gardens section</a> 🌱
        </section>
      )
    }
    {
      data.flags?.includes("RSS-ONLY") && (
        <section class="attn">
          This is a special article for <strong>the RSS Club</strong>, but feel
          free to save or share this link. You can join by subscribing to{" "}
          <a href="/rss.xml">my RSS feed</a>.
        </section>
      )
    }
    <Content />
    <hr />
    <footer class="line()">
      <a
        href={`mailto:sean@seanmcp.com?subject=Re: ${data.title}`}
        id="comment-link">Reply by email</a
      >
      <bible-verse>{verse}</bible-verse>
    </footer>
  </article>
</PageLayout>

<style>
  .byline {
    margin-block-end: var(--space-l) !important;
  }

  .attn {
    border: var(--stroke-thickness) solid var(--off-background);
    padding: var(--space-s);
  }

  :global(.article img) {
    max-width: 100%;
  }

  bible-verse {
    margin-inline-start: auto;
  }

  :global(bible-verse div) {
    background-color: var(--background);
    border: var(--stroke-thickness) solid var(--off-background);
    bottom: calc(100% + var(--space-xs));
    padding: var(--space-xs);
    right: calc(-1 * var(--space-xs));
    width: 30ch;
  }

  :global(.footnotes h2) {
    margin-block-start: 1em;
  }

  /* CodePen embeds */
  :global(.cp_embed_wrapper) {
    margin: 2rem -1rem;
  }

  :global(.cp_embed_wrapper iframe) {
    height: min(50vh, 500px);
  }
</style>
