---
import { getArticles } from "src/utils";
import ArticleSeries from "@components/ArticleSeries.astro";
import Bio from "@components/Bio.astro";
import BookmarkToggle from "@components/BookmarkToggle.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ReadableTime from "@components/ReadableTime.astro";
import TagList from "@components/TagList.astro";
import HeroImage from "@components/HeroImage.astro";

export async function getStaticPaths() {
  const articles = await getArticles();
  return articles.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { data } = entry;
const verse = data.verse ?? "John 11:25";
---

<PageLayout {...data} withoutH1>
  <article class="article | stack">
    <h1>{data.title}</h1>
    <p class="byline | row">
      By Sean McPherson<span class="divider"></span>{
        data.tags?.includes("garden") ? (
          "Garden"
        ) : (
          <ReadableTime date={data.pubDate} />
        )
      }
    </p>
    <HeroImage image={data.image} />
    <ArticleSeries series={data.series} />
    {
      data.flags?.includes("RSS-ONLY") && (
        <section id="rss">
          This is a special article for <strong>the RSS Club</strong>, but feel
          free to save or share this link. You can join by subscribing to{" "}
          <a href="/rss.xml">my RSS feed</a>.
        </section>
      )
    }
    <Content />
    <hr />
    <footer class="row">
      <a
        href={`mailto:sean@seanmcp.com?subject=Re: ${data.title}`}
        id="comment-link">Reply by email</a
      >
      <a
        href={`https://esv.org/${verse}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        {verse}
      </a>
    </footer>
  </article>
</PageLayout>

<style>
  .byline {
    --row-space: 0;
    margin-block-end: 2rem;
  }

  #rss {
    border: 2px solid var(--off-background);
    padding: 1em;
  }

  :global(.article img) {
    max-width: 100%;
  }

  a[href*="esv.org"] {
    /* display: block;
    margin-block-start: 2em;
    text-align: center; */
    margin-inline-start: auto;
  }

  /* CodePen embeds */
  :global(.cp_embed_wrapper) {
    margin: 2rem -1rem;
  }

  :global(.cp_embed_wrapper iframe) {
    height: min(50vh, 500px);
  }
</style>
