---
import PageLayout from "@layouts/PageLayout.astro";
import { slugify } from "src/utils";
import ReadableTime from "@components/ReadableTime.astro";

const art = [
  // REVERSE CHRONOLOGICAL ORDER
  ["2024-09-20T13:00-0400", "blackridge.jpg", "Blackridge", "Krita"],
  ["2024-02-03T06:45-0400", "sad-dice.png", "Sad dice", "Aseprite", "pixel"],
  [
    "2024-01-23T20:30-0400",
    "tree_32.png",
    "Tree",
    "Aseprite, Mystical Leaf",
    "pixel",
  ],
  [
    "2024-01-13T15:28-0400",
    "droplet_16.png",
    "Water droplet",
    "Aseprite",
    "pixel",
  ],
  ["2024-01-12T13:20-0400", "404_16.png", "404", "Aseprite", "pixel"],
  [
    "2023-12-26T07:25-0400",
    "logo_16.png",
    "Logo",
    "Aseprite, Endesga 16",
    "pixel",
  ],
  [
    "2023-12-26T07:00-0400",
    "two-color-gradient_16.png",
    "Two-color gradient",
    "Aseprite, Endesga 16",
    "pixel",
  ],
  [
    "2023-12-26T06:42-0400",
    "hokusai-great-wave_16.png",
    "Hokusai's Great Wave",
    "Aseprite, Endesga 16; Overly ambitious, but I might revisit later.",
    "pixel",
  ],
  [
    "2023-12-26T06:27-0400",
    "box_16.png",
    "Box",
    "Aseprite, Endesga 16",
    "pixel",
  ],
  [
    "2023-12-26T06:15-0400",
    "christmas-tree_16.png",
    "Christmas tree",
    "Aseprite, Endesga 16",
    "pixel",
  ],
  [
    "2023-12-21T15:07-0400",
    "prof-oak_16.png",
    "Prof. Oak",
    "Palette: Endesga 16",
    "pixel",
  ],
  [
    "2023-12-20T08:24-0400",
    "maple-tree_16.png",
    "Maple tree",
    "Tried some dithering on the leaves",
    "pixel",
  ],
  [
    "2023-12-19T16:00-0400",
    "donut.png",
    "Donut",
    "What flavor is blue frosting?",
    "pixel",
  ],
  [
    "2023-12-19T15:30-0400",
    "red.png",
    "Red",
    "Maybe jumping into color a little too quickly, but I like how the shading turned out",
    "pixel",
  ],
];
---

<PageLayout title="Art">
  {
    art.map(([datestring, relativePath, title, description, type]) => (
      <article class="stack(m)" id={slugify(title)} data-type={type}>
        <header class="line(xs)">
          <h2>{title}</h2>
          <ReadableTime
            date={datestring}
            style="color: var(--lighter-text-color);"
          />
        </header>
        <a href={`/art/${relativePath}`} target="_blank">
          <img alt={description} src={`/art/${relativePath}`} />
        </a>
        {description && <p>{description}</p>}
      </article>
    ))
  }
</PageLayout>

<style>
  article h2 {
    margin-block-start: 0;
  }

  article a {
    display: flex;
    background-color: hsla(0, 0%, 0%, 0.75);
    justify-content: center;
    padding: var(--space-m);
    text-align: center;
  }

  article[data-type=pixel] img {
    image-rendering: pixelated;
    width: 50%;
  }

  article + article {
    margin-block-start: var(--space-xl);
  }
</style>
