---
import PageLayout from "@layouts/PageLayout.astro";
import { getArticles } from "src/utils";
import pages from "src/data/navigation";

type SearchableContentItem = {
  body?: string;
  date: string;
  description: string;
  tags: string[];
  title: string;
  type: "article" | "social" | "page";
  url: string;
  year: number;
};

const searchableContent: Array<SearchableContentItem> = [];

const years = new Set<number>();
const tags = new Set<string>();

function addToSearchableContent(array: Array<any>) {
  array.forEach((item) => {
    const date = new Date(item.data.pubDate);
    const year = date.getFullYear();
    years.add(year);

    item.data.tags?.forEach((tag) => tags.add(tag));

    const type =
      item.collection.slice(-1) === "s"
        ? item.collection.slice(0, -1)
        : item.collection;

    searchableContent.push({
      body: item.body,
      date: item.data.pubDate,
      description: item.data.description || "",
      tags: item.data.tags || [],
      title: item.data.title,
      type,
      url: `/${item.collection}/${item.slug}`,
      year: year,
    });
  });
}
addToSearchableContent(await getArticles());

[
  {
    url: "https://github.com/seanmcp",
    title: "GitHub",
  },
  {
    url: "https://linkedin.com/in/seanmcp",
    title: "LinkedIn",
  },
  {
    url: "https://indieweb.social/@seanmcp",
    title: "Mastodon",
  },
].forEach((item) => {
  searchableContent.push({
    body: item.url,
    date: "",
    description: "",
    tags: [],
    title: `Find me on ${item.title}`,
    type: "social",
    url: item.url,
    year: 0,
  });
});
pages.all.forEach((item) => {
  searchableContent.push({
    body: item.url,
    date: "",
    description: item.description,
    tags: [],
    title: item.label,
    type: "page",
    url: item.url,
    year: 0,
  });
});

const sortedYears = Array.from(years).sort((a, b) => b - a);
const sortedTags = Array.from(tags).sort((a, b) =>
  a.toLowerCase().localeCompare(b.toLowerCase()),
);
---

<PageLayout documentTitle="Search" title="Search">
  <form action="." id="search" method="get">
    <div class="line(xs)" style="align-items:initial;">
      <label class="line(xs)">
        <svg
          aria-label="Search for content"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="#000000"
          viewBox="0 0 256 256"
          ><rect width="256" height="256" fill="none"></rect><circle
            cx="116"
            cy="116"
            r="84"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></circle><line
            x1="175.4"
            y1="175.4"
            x2="224"
            y2="224"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"></line>
        </svg>
        <input
          autofocus
          name="q"
          placeholder="Search content title, description, or body"
          type="search"
        />
      </label>
      <button>Search</button>
    </div>
    <fieldset>
      <legend class="hidden()">Filters</legend>
      <div class="line(m)">
        <label class="line(xs)">
          Type
          <select name="type">
            <option value="">All</option>
            {
              ["Articles", "Art"].map((type) => {
                let value = type.toLowerCase();
                if (value.slice(-1) === "s") {
                  value = value.slice(0, -1);
                }
                return <option value={value}>{type}</option>;
              })
            }
          </select>
        </label>
        <label class="line(xs)">
          Year
          <select name="year">
            <option value="">All</option>
            {sortedYears.map((year) => <option value={year}>{year}</option>)}
          </select>
        </label>
        <label class="line(xs)">
          Tag
          <select name="tag">
            <option value="">All</option>
            {
              sortedTags.map((tag) => {
                return <option value={tag}>{tag}</option>;
              })
            }
          </select>
        </label>
      </div>
    </fieldset>
    <output id="search-output"></output>
    <template id="search-result">
      <li class="line(xs)">
        <a href="%URL%">%TITLE%</a>
        <time datetime="%DATE%">%DISPLAY_DATE%</time>
      </li>
    </template>

    <script is:inline src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>

    <script is:inline define:vars={{ searchableContent }}>
      // Sync form with URL
      const searchParams = new URLSearchParams(window.location.search);
      const query = searchParams.get("q");
      if (query) {
        document.querySelector("input[name=q]").value = query;
      }
      const type = searchParams.get("type");
      if (type) {
        document.querySelector("select[name=type]").value = type;
      }
      const year = searchParams.get("year");
      if (year) {
        document.querySelector("select[name=year]").value = year;
      }
      const tag = searchParams.get("tag");
      if (tag) {
        document.querySelector("select[name=tag]").value = tag;
      }

      const output = document.getElementById("search-output");
      const liTemplate = document.querySelector("template#search-result")
        .content.firstElementChild;
      function searchAndRender(query, type, year, tag) {
        if (!query && !type && !year && !tag) {
          output.textContent = "";
          return;
        }

        // Filter content based on search parameters
        const filteredList = searchableContent.filter((item) => {
          let include = true;
          if (type && item.type != type) {
            include = false;
          }
          if (year && item.year != year) {
            include = false;
          }
          if (tag && !item.tags.includes(tag)) {
            include = false;
          }
          return include;
        });

        let listToRender = filteredList;

        const fuse = new Fuse(filteredList, {
          keys: ["body", "description", "tags", "title", "url", "type"],
          threshold: 0.2,
        });

        if (query) {
          listToRender = fuse.search(query).map((result) => result.item);
        }

        // Render search results
        const heading = query ? `Results for "${query}"` : "Results";
        if (listToRender.length === 0) {
          output.innerHTML = `
          <h2>${heading}</h2>
          <p>No results found</p>
          `;
          return;
        }
        output.innerHTML = `
          <h2>${heading}</h2>
          <p>Found ${listToRender.length} result${
            listToRender.length === 1 ? "" : "s"
          }</p>
          <ol>
            ${listToRender
              .map((item) => {
                // Sync with src/utils.ts
                const displayDate = new Date(item.date).toLocaleDateString(
                  "en-US",
                  {
                    day: "numeric",
                    month: "short",
                    timeZone: "America/New_York",
                    year: "numeric",
                  },
                );
                let html = liTemplate.cloneNode(true).outerHTML;
                if (!item.date) {
                  html = html.replace(/<time.*<\/time>/, "");
                }

                return html
                  .replace(/%URL%/g, item.url)
                  .replace(/%TITLE%/g, item.title)
                  .replace(/%DATE%/g, item.date)
                  .replace(/%DISPLAY_DATE%/g, displayDate);
              })
              .join("")}
          </ol>
        `;
      }

      searchAndRender(query, type, year, tag);

      const form = document.querySelector("main form");
      function handleFormChange() {
        const searchParams = new URLSearchParams();
        const formData = new FormData(form);
        for (const [key, value] of formData) {
          searchParams.set(key, value);
        }
        window.history.pushState(
          {},
          "",
          `${window.location.pathname}?${searchParams}`,
        );
        searchAndRender(
          formData.get("q"),
          formData.get("type"),
          formData.get("year"),
          formData.get("tag"),
        );
      }
      form.addEventListener("change", (e) => {
        if (e.target.tagName === "SELECT") {
          if (e.target.value) {
            e.target.setAttribute("value", e.target.value);
          } else {
            e.target.removeAttribute("value");
          }
        }
        handleFormChange();
      });
      form.addEventListener("input", handleFormChange);
    </script>
  </form>

  <style>
    form :is(input, select) {
      color: var(--text-color);
    }

    label:has(input) {
      border: var(--stroke-thickness) solid var(--off-background);
      flex-grow: 1;
      padding: var(--space-2xs);
    }

    label:has(input):is(:focus-within) {
      color: var(--anchor-color);
      outline: var(--stroke-thickness) solid var(--anchor-color);
      outline-offset: var(--stroke-thickness);
    }

    label svg {
      width: 20px;
    }

    label input {
      background-color: transparent;
      border: 0;
      flex-grow: 1;
    }

    label input:is(:focus, :hover) {
      outline: transparent;
    }

    form input::placeholder {
      color: var(--lighter-text-color);
    }

    form fieldset {
      border: 0;
      font-size: small;
      padding: var(--space-xs) 0;
      margin: 0;
    }

    form button {
      background-color: var(--off-background);
      border: var(--stroke-thickness) solid var(--off-background);
      color: var(--text);
      padding-inline: 1em;
    }

    form button:is(:focus, :hover) {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--background);
    }

    form legend {
      font-size: small;
      color: var(--lighter-text-color);
      text-transform: uppercase;
      padding-inline: 1ch;
    }

    form select {
      background-color: var(--background);
      border: var(--stroke-thickness) solid var(--off-background);
    }

    form select[value] {
      color: var(--anchor-color);
    }

    form select option:is(:checked, :focus, :hover) {
      background-color: var(--off-background);
    }

    :global(#search-output ol) {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-block-start: var(--space-2xs);
    }

    li a {
      font-weight: bold;
    }

    li time {
      color: var(--lighter-text-color);
    }
  </style>
</PageLayout>
