---
import {
  getArticles,
} from "src/utils";

const articles = await getArticles();

const yearCount: Record<
  number,
  {
    articles: number;
    rssClub: number;
  }
> = {};

articles.forEach((content) => {
  const year = new Date(content.data.pubDate).getFullYear();
  if (!yearCount[year])
    yearCount[year] = { articles: 0, rssClub: 0 };
  if (content.collection === "articles") {
    if (content.data.flags?.includes("RSS-ONLY")) {
      yearCount[year].rssClub++;
    } else {
      yearCount[year].articles++;
    }
  }
});

const highest = Math.max(
  ...Object.values(yearCount).map(
    (record) => record.articles + record.rssClub
  )
);
const multiplier = (16 * 4) / highest;
---

<ol class="activity-graph">
  {
    Object.entries(yearCount).map(
      ([year, { articles, rssClub }]) => {
        const articlesLabel = `${articles} articles`;
        const rssClubLabel = `${rssClub} RSS Club articles`;
        return (
          <li>
            <div title={String(articles + rssClub) + " total"}>{year}</div>
            <span
              class="articles"
              style={{ height: articles * multiplier + "px" }}
              title={articlesLabel}
            >
              <span class="hidden()">{articlesLabel}</span>
            </span>
            <span
              class="rss-club"
              style={{ height: rssClub * multiplier + "px" }}
              title={rssClubLabel}
            >
              <span class="hidden()">{rssClubLabel}</span>
            </span>
          </li>
        );
      }
    )
  }
</ol>

<style>
  ol {
    display: flex;
    gap: 2px;
    list-style-type: none;
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }

  li div {
    text-align: center;
    font-size: small;
  }

  li span.art {
    --color: var(--orange);
  }

  li span.articles {
    --color: var(--purple);
  }

  li span.notes {
    --color: var(--blue);
  }

  li span.rss-club {
    --color: var(--off-background);
  }

  li span {
    background: var(--color);
  }
</style>
