---
import { CollectionEntry } from "astro:content";
import { getArticles, getArticleTitle } from "src/utils";
import ReadableTime from "./ReadableTime.astro";

interface Props {
  articles: CollectionEntry<"articles">[];
  count?: number;
}

const { articles: initial, count } = Astro.props;

const articles =
  initial || (await getArticles({ count, excludeRSSOnlyInProd: true }));
---

<section>
  {
    articles.map((article) => {
      const url = `/articles/${article.slug}`;
      return (
        <article class="stack" data-url={url}>
          <a href={url}>{getArticleTitle(article.data)}</a>
          <p>
            <ReadableTime date={article.data.pubDate} /><span class="divider" />{article.data.description}
          </p>
        </article>
      );
    })
  }
</section>

<style>
  article.stack {
    --stack-space: 0.5rem;
  }  

  article > * {
    margin: 0;
  }

  article a {
    font-weight: bold;
  }

  article + article {
    margin-block-start: 2rem;
  }
</style>
