---
import { type CollectionEntry } from "astro:content";
import { getArticles, getArticleTitle } from "src/utils";
import ReadableTime from "./ReadableTime.astro";

interface Props {
  articles?: CollectionEntry<"articles">[];
  count?: number;
  tag?: string;
}

const { articles: initial, count, tag } = Astro.props;

const articles =
  initial || (await getArticles({ count, excludeRSSOnlyInProd: true, tag }));
---

<section class="stack(l)">
  {
    articles.map((article) => {
      const url = `/articles/${article.slug}`;
      return (
        <article class="stack(xs)" data-url={url}>
          <div>
            <a href={url}>{getArticleTitle(article.data)}</a>
            &nbsp;
            <ReadableTime
              date={article.data.updatedDate || article.data.pubDate}
              style="color: var(--lighter-text-color);"
            />
          </div>
          {article.data.description && <p>{article.data.description}</p>}
        </article>
      );
    })
  }
</section>

<style>
  article a {
    font-weight: bold;
  }
</style>
