---
import { getArticles, slugify } from "src/utils";

const { series } = Astro.props;

let items;

if (series) {
  items = (await getArticles())
    .filter((article) => {
      return article.data.series === series;
    })
    .reverse();
}
---

{
  items && (
    <section id="series">
      <p>
        This article is part of a series titled{" "}
        <a href={`/series#${slugify(series)}`}>{series}</a>. You can read the
        other items in there series here:
      </p>
      <ol>
        {items.map((article) => {
          const url = `/articles/${article.slug}`;
          return (
            <li>
              <a href={url} aria-current={url === Astro.url.pathname}>
                {article.data.title}
              </a>
            </li>
          );
        })}
      </ol>
    </section>
  )
}

<style>
  #series {
    border: 2px solid var(--off-background);
    margin-bottom: 2rem;
    padding: 0 1rem;
  }

  #series :global([aria-current]) {
    font-weight: bold;
  }
</style>
