---
import { getArticles, slugify, urlsMatch } from "src/utils";

const { series } = Astro.props;

let items;

if (series) {
  items = (await getArticles())
    .filter((article) => {
      return article.data.series === series;
    })
    .reverse();
}
---

{
  items && (
    <section id="series" class="stack()">
      <p>
        This article is part of a series titled{" "}
        <a href={`/series/${slugify(series)}`}>{series}</a>. You can read the
        other items in there series here:
      </p>
      <ol>
        {items.map((article) => {
          const url = `/articles/${article.slug}`;
          return (
            <li>
              <a href={url} aria-current={urlsMatch(url, Astro.url.pathname)}>
                {article.data.title}
              </a>
            </li>
          );
        })}
      </ol>
    </section>
  )
}

<style>
  #series {
    border: var(--stroke-thickness) solid var(--off-background);
    margin-bottom: var(--space-l);
    padding: var(--space-s);
  }

  #series :global([aria-current]) {
    font-weight: bold;
  }
</style>
