---
interface Props {
  label: string;
  content: {
    url: string;
    visibleText: string;
    hiddenText?: string;
  }[];
}
const { content, label } = Astro.props;
const id = `command-prompt__section--${label.toLowerCase()}`;
---

<section>
  <b id={id}>{label}</b>
  <nav aria-labelledby={id}>
    <slot />
    {
      content.map((item) => (
        <a href={item.url}>
          {item.visibleText}
          {item.hiddenText && (
            <span class="--visually-hidden">{item.hiddenText}</span>
          )}
        </a>
      ))
    }
  </nav>
</section>

<style>
  section {
    font-size: small;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  a {
    display: none;
    margin: 2px 4px;
  }

  a[data-match="true"] {
    display: initial;
  }
</style>
