---
import metadata from "../data/metadata.json";

const defaultFavicon = "/img/seanmcp-logo.png";

const {
  description,
  name,
  author: { twitter },
  url,
} = metadata;

const pageDescription = Astro.props.description ?? description;
const pageFavicon = Astro.props.Favicon ?? defaultFavicon;
const pageImage = metadata.url + (Astro.props.image ?? "/img/og-image.png");
const pageTitle = Astro.props.title ?? "Sean McPherson";
let pageUrl = url + Astro.url.pathname;

if (pageUrl[pageUrl.length - 1] !== "/") {
  pageUrl += "/";
}
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{pageTitle} - {name}</title>
<meta property="og:site_name" content={name} />
<meta property="og:title" content={pageTitle} />
<meta name="twitter:title" content={pageTitle} />

<meta name="description" content={pageDescription} />
<meta property="og:description" content={pageDescription} />
<meta name="twitter:description" content={pageDescription} />

<meta property="og:image" content={pageImage} />
<meta name="twitter:image" content={pageImage} />

{/* Open Graph */}
<meta property="og:type" content="website" />
<meta property="og:url" content={pageUrl} />

{/* Twitter */}
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content={`@${twitter}`} />

{/* Links */}
<link rel="shortcut icon" href={pageFavicon} type="image/png" />
<link
  rel="alternate"
  href="/rss.xml"
  type="application/rss+xml"
  title="SeanMcP.com RSS Feed"
/>
<link
  rel="alternate"
  href="https://fosstodon.org/@seanmcp.rss"
  type="application/rss+xml"
  title="@seanmcp on Fosstodon.org"
/>
<link rel="me" href="https://fosstodon.org/@seanmcp" />
