---
import BookmarkToggle from "@components/BookmarkToggle.astro";
import { getNoteNumberFromFilePath, readableDate } from "src/utils";

const {
  Content,
  file,
  frontmatter: { pubDate, edited },
} = Astro.props;

const number = getNoteNumberFromFilePath(file);
const url = `/notes/${number}`;
---

<article data-url={url}>
  <header>
    <h1>Note #{number}</h1>
    <span>
      <a href={url}><time datetime={pubDate}>{readableDate(pubDate)}</time></a>
      {edited && <span>(Edited)</span>}
    </span>
    <BookmarkToggle size="small" url={url} />
  </header>
  <Content />
</article>

<style>
  header {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    /* Offset SVG's padding */
    margin-right: -0.75rem;
  }

  header h1 {
    font-size: 1rem;
    margin: 0;
  }

  header span {
    margin-right: auto;
  }

  article {
    border: 2px solid var(--off-background);
    padding: 0 1rem;
  }
</style>
