---
import { readableDate } from "src/utils";

const {
  data: { pubDate },
  render,
  slug: number,
  headingLevel = 1,
} = Astro.props;

const url = `/notes/${number}`;
const { Content } = await render();
---

<article class="stack()" data-url={url}>
  <header class="line()">
    <b role="heading" aria-level={headingLevel}>Note #{number}</b>
    <span class="divider()"></span>
    <a href={url}><time datetime={pubDate}>{readableDate(pubDate)}</time></a>
  </header>
  <div>
    <Content />
  </div>
</article>

<style>
  article {
    border: var(--stroke-thickness) solid var(--off-background);
    padding: var(--space-s);
  }

  article > div {
    font-size: 150%;
  }
</style>
