---
import navigation from "../data/navigation";
import socials from "../data/socials";

import metadata from "../data/metadata.json";
---

<footer>
  <hr />
  <div>
    <b>{metadata.name}</b><br />
    <small>
      Copyright &copy; 2018 - {new Date().getFullYear()} Sean McPherson (SDG)
    </small>
  </div>
  <div class="site-footer__nav">
    <section>
      <h2>Navigation</h2>
      <nav aria-label="secondary">
        {
          navigation.secondary.map((link) => (
            <a href={link.url}>{link.label}</a>
          ))
        }
      </nav>
    </section>
    <section>
      <h2>Socials</h2>
      <nav>
        {socials.map((link) => <a href={link.url} rel="me">{link.label}</a>)}
      </nav>
    </section>
  </div>
</footer>

<style>
  footer hr {
    margin-top: 0;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 0rem !important;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    gap: 0.5rem;
    margin-top: 0.25rem;
  }
  
  @media screen and (min-width: 768px) {
    .site-footer__nav {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }

    nav {
      flex-direction: column;
      align-items: flex-start;
    }
  }
</style>
