---
import toolsData from "../data/tools.json";
import { slugify } from "../utils";

const { heading } = Astro.props;

const tools = toolsData[heading.toLowerCase()];
const slug = slugify(heading);
---

<section id={slug}>
  <h2>
    <a href={`#${slug}`}>{heading}</a>
  </h2>
  <ul>
    {
      tools.map((tool) => (
        <li>
          <a href={tool.url}>
            <span>{tool.emoji}</span>
            <div>
              <b>{tool.title}</b>
              <span>{tool.description}</span>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  section:not(:first-of-type) {
    margin-top: 5rem;
  }

  section h2 a::after {
    content: " #";
  }

  section h2 a:not(:hover, :focus) {
    color: initial;
    text-decoration: none;
  }

  section h2 a:not(:hover, :focus)::after {
    opacity: 0;
  }

  ul {
    display: grid;
    gap: 1rem;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
  }

  ul a {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: max-content 1fr;
    text-decoration: none;
    color: initial;
  }

  ul a span:first-child {
    font-size: 2.5rem;
  }

  ul a:hover b,
  ul a:focus b {
    color: var(--anchor-color);
    text-decoration: underline;
  }

  @media screen and (min-width: 600px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
