---
import PageLayout from "@layouts/PageLayout.astro";
import { getArticles } from "src/utils";

const articles = await getArticles();
const pathToTitle = {};
articles.forEach((article) => {
  pathToTitle[`/articles/${article.slug}/`] = article.data.title;
});
---

<PageLayout title="Likes">
  <br />
  <likes-fetcher data-articles={JSON.stringify(pathToTitle)}></likes-fetcher>
</PageLayout>

<script>
  customElements.define(
    "likes-fetcher",
    class LikesFetcher extends HTMLElement {
      async connectedCallback() {
        this.textContent = "Loading...";

        const pathToTitle = JSON.parse(this.dataset.articles);
        const response = await fetch("/fn/likes");
        const { data: likes } = await response.json();

        let html = `
        <style>
            likes-fetcher {
                display: block;
            }
            table {
                width: 100%;
            }
            tr > * {
                text-align: right;
            }
            tr > *:nth-child(1) {
                text-align: left;
            }
        </style>
        <table>
            <thead>
            <tr>
              <th>Article</th>
              <th>Likes</th>
              <th>Last Updated</th>
            </tr>
          </thead>
          <tbody>`;

        likes.forEach((like) => {
          const title = pathToTitle[like.slug] || like.slug;
          const date = new Date(like.last_updated).toLocaleDateString("en-US", {
            day: "numeric",
            month: "short",
            timeZone: "America/New_York",
            year: "numeric",
          });
          html += `<tr><th><a href=${like.slug}>${title}</a></th><td>${like.count}</td><td>${date}</td></tr>`;
        });

        this.innerHTML = html + "</tbody></table>";
      }
    }
  );
</script>
