---
import PageLayout from "./PageLayout.astro";
import { readableDate, slugify } from "../utils";
import Bio from "../components/Bio.astro";
import ArticleTime from "../components/ArticleTime.astro";
import TagList from "../components/TagList.astro";

const { frontmatter } = Astro.props;
---

<PageLayout
  foot={frontmatter.foot}
  head={frontmatter.head}
  title={frontmatter.title}
>
  {
    !frontmatter.tags?.includes("garden") && (
      <ArticleTime date={frontmatter.date} />
    )
  }
  <hr />
  <slot />
  <hr />
  <a
    href={`mailto:sean@seanmcp.com?subject=Re: ${frontmatter.title}`}
    id="comment-link">Send a comment</a
  >
  <div>Read more <TagList tags={frontmatter.tags} /></div>
  <hr />
  <Bio />
</PageLayout>
